<table class="table">
  <thead>
    <th>Name</th>
  </thead>
  <tbody>
    <% @users.each do |u| %>
  		<tr>
    		<td><%= u.name %></td>
        <td><%= link_to "Delete User", user_path(u), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger' %></td>
  		</tr>
	<% end %>
  </tbody>
</table>