<table class="table">
  <thead>
    <th>Name</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% @boxes.each do |b| %>
  		<tr>
    		<td><%= b.code %></td>
        <td><%= link_to "View", box_path(b), class: 'btn btn-sm btn-info' %></td>
        <td><%= link_to "Delete Box", box_path(b), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger' %></td>
  		</tr>
	<% end %>
  </tbody>
</table>